# Pandas - Reading data

This notebook is the second part of the series devoted to the pandas library.

It explores the ways how data can be imported into DataFrames. 

More details can be found in the official documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

Most of the functions for reading data are named `pandas.read_XXX`, where XXX is the format used. We will go through several commonly used ones.

### This tutorial data sets origins

* IMDB: https://datasets.imdbws.com/
* Box office (Kaggle / TMDB): https://www.kaggle.com/c/tmdb-box-office-prediction/data
* Awards: https://en.wikipedia.org/wiki/List_of_Academy_Award-winning_films
* Rotten Tomatoes: https://data.world/prasert/rotten-tomatoes-top-movies-by-genre
* Guardian: https://www.theguardian.com/news/datablog/2010/oct/16/greatest-films-of-all-time
* Wikipedia movies: https://github.com/prust/wikipedia-movie-data

In [13]:
# List functions for input in pandas.

print("\n".join(method for method in dir(pd) if method.startswith("read_")))

read_clipboard
read_csv
read_excel
read_feather
read_fwf
read_gbq
read_hdf
read_html
read_json
read_orc
read_parquet
read_pickle
read_sas
read_spss
read_sql
read_sql_query
read_sql_table
read_stata
read_table

## Read CSV

Nowadays, a lot of data comes in the textual Comma-separated values format (CSV).
Although not properly standardized, it is the de-facto standard for files that are not
huge and are meant to be read by human eyes too.

Let's read the population of U.S. states (and several other territories that we will need later):

In [14]:
territories = pd.read_csv("data/us_state_population.csv")
territories.head(9)

        Territory  Population
0      California    39368078
1           Texas    29360759
2         Florida    21733312
3        New York    19336776
4    Pennsylvania    12783254
5        Illinois    12587530
6            Ohio    11693217
7         Georgia    10710017
8  North Carolina    10600823

The automatic data type parsing automatically converts columns to appropriate types:

In [16]:
territories.dtypes

Territory     object
Population     int64
dtype: object

Sometimes the CSV input does not work out of the box. Although pandas automatically understands and reads zipped files,
it usually does not automatically infer the file format - for details, see the `read_csv` documentation here: 
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [ ]:
pd.read_csv('../data/title.basics.tsv.gz')

...in this case, the CSV file does not use commas to separate values. Therefore, we need to specify a few more arguments:

In [ ]:
imdb_titles = pd.read_csv('../data/title.basics.tsv.gz', sep='\t')
imdb_titles.head()

Noticed the `\N` endYear values?

**Exercise:** Use `na_values` argument to mark `\N` as a null (missing) value.

In [ ]:
%exercise

imdb_titles = pd.read_csv('../data/title.basics.tsv.gz', sep='\t', na_values=...)

In [ ]:
%validate

assert pd.isna(imdb_titles.loc[0, 'endYear'])

See the difference?

In [ ]:
imdb_titles.head()

## Read Excel

Let's read the list of laser accidents involving

In [ ]:
pd.read_excel("../data/guardian-greatest_films_of_all_time.xlsx")

Hmmmmph... Pandas parsed just the first spreadsheet. Let's see what are the options. If in doubt, look in the documentation:
https://pandas.pydata.org/pandas-docs/stable/reference/io.html#excel

In [ ]:
xlsx = pd.io.excel.ExcelFile("../data/guardian-greatest_films_of_all_time.xlsx")
xlsx

In [ ]:
xlsx.sheet_names

In [ ]:
xlsx.parse("HORROR")

In [ ]:
%exercise

crimes =...                    # Find the table of crime movies
tenth_best = crimes.loc[...]   # Find the 10-th best crime movie
movie_name = ...               # Get the name of the movie

# display
movie_name

In [ ]:
%validate

assert movie_name[7:9] == "la"

## Read HTML (Optional)

Pandas is able to scrape data from tables embedded in web pages using the `read_html` function.
This might or might not bring you good results and probably you will have to tweak your
data frame manually. But it is a good starting point - much better than being forced to parse
the HTML ourselves!

Let's download a list of highest-grossing films from wikipedia!

In [ ]:
tables = pd.read_html("https://en.wikipedia.org/wiki/List_of_highest-grossing_films")
type(tables), len(tables)

Does the page really contain 95 tables? The number is quite high and we must check which of the tables
are meaningful and which are not. We are mostly interested in the first displayed one.

**Exercise:** Find **i** to obtain the right table:

In [ ]:
%exercise

i = ...

table = tables[i]
table.head(10)

## Write CSV

Pandas is able to write to many various formats but the usage is similar.

In [ ]:
award_table.to_csv("awards.csv", index=False)

In [ ]:
%head awards.csv 10

Note: When done with this notebook, we suggest that you shutdown the kernel to free the memory.